button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
}
  
.app {
  text-align: center;
}

.slider-container {
  margin-top: 20px;
}

#speedRange {
  width: 300px;
  margin: 10px;
}

.file-upload {
  margin-top: 100px;
  margin-bottom: 50px;
}

.file-upload a {
  text-decoration: none;
  color: #007BFF;
}

.file-upload a:hover {
  color: #0015ff; 
}